<div class="box">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">OPCUA Asset Mapper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto"></div>



      <button class="btn btn-primary ms-5 me-2 my-1" onclick="$('#file-picker').click()">
        <fa-icon icon="file-upload"></fa-icon> <span class="ps-2">Load Config</span>
      </button>
    </div>
  </nav>

  <as-split direction="vertical" gutterSize="7">
    <as-split-area size="90">
      <as-split gutterSize="7" direction="horizontal" #split="asSplit">
        <as-split-area size="30" #area1="asSplitArea">
          <app-opc-ua-address-space></app-opc-ua-address-space>
        </as-split-area>

        <as-split-area size="70" #area2="asSplitArea">
          TODO
        </as-split-area>
      </as-split>

    </as-split-area>
    <as-split-area size="10">
      LOGS
    </as-split-area>

  </as-split>
</div>